/* #region main */

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

/* not needed if html included normalize
*,
*::before,
*::after {
    box-sizing: border-box;
}*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* #endregion */

/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-nav-menu {
    display: flex;
    gap: 40px;
   
}

.header-nav-menu:last-child {
    margin-right: 0;
}

.header-logo {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;     
        margin-right: 76px;
}

.header-logo .header-logo-span{
    color: #2e2f42;
}

.header-nav-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding: 24px 0;
}

.header-nav-title:hover {
    color: #404bbf;
}

.header-nav-title:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal; 
    margin-left: auto;
   
}

.header-address-list{
    display: flex;
    gap: 40px;
}

.header-address-list:last-child {
    margin-right: 0;
}

.header-address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-item:hover,
.header-address-item:focus {
    color: #404bbf;
}
/* #endregion*/

/* #region section hero */
.section-hero {
    background-color: #2e2f42;  
    padding: 188px 0;
    text-align: center;
}

.section-hero .container {
    align-items: center;
}

.section-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;   
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    height: 56px;
}
.section-hero-button:hover,
.section-hero-button:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region services section */
.servises-section {
    padding: 120px 0;
}
 
.section-title {
    display: none;
}

.section-services-list {
    display: flex;
    gap: 24px;
}

.servises-section-list-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.servises-section-list-p { 
    flex-basis: calc((100% - 72px) / 4);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region team section */
.section-team {
    background-color: #F4F4FD;
}

.section-team .section-list{ 
    background-color: #FFFFFF;
    text-align: center;
}

.section-title-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-section-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio-section-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-section-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */

/* #region footer */
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-style {
    color: #f4f4fd;
}

.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
 /* #endregion */